#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width : 30%;
    padding : 2rem 0;
}
#login-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}
#field-container {
    width: 80%;
}
#login-container > form > h1 {
    font-family: 'Fredoka One';
}
#field-container p {
    font-style: normal;
    font-weight: 600;
    color : var(--secondary-color);
}
.form-input {
    font-family: 'Open Sans';
    font-weight: 800;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
}
.form-input::placeholder {
    font-family: 'Open Sans';
    color : var(--placeholder-color);
}
#sign-up-text {
    font-weight: bold;
    color : var(--secondary-color);
}
#sign-up-text > a {
    color : var(--primary-color);
    text-decoration: none;
}

@media (max-width : 776px) {
    #login-container {
        width : 80%;
    }
}